body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .category {
    margin-top: 20px;   
    text-align: left;
  }
  
  .category h3 {
    padding-bottom: 5px;
    text-decoration: underline;
    color: black;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }
  